* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.conteudo_infoMemories {
  width: 90%;
  padding: 64px;
  display: grid;
  justify-self: center;
  gap: 30px;
  position: relative;
}

.descricao {
  width: 100%;
  height: auto;
  line-height: 1.6;
  position: relative;
}

.img_rapaz_infoMemories {
  width: 100%;
  max-height: 300px;
}

.datas {
  position: absolute;
  top: 20px;
  left: -250px;
}

.datas::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #EAEAEA;
  position: absolute;
  top: 13px;
  left: 150px;
}

.descricao .texto_infoMemories {
  width: 100%;
  color: #BEBEBF;
  font-size: 1.125rem;
}

.seta_infoMemories {
  color: #BEBEBF;
  font-size: 1.4rem;
}

@media (width < 1550px) {
  .conteudo_infoMemories {
    padding: 64px 32px;
  }

  .img_rapaz_infoMemories {
    max-height: auto;
  }
}

@media (width < 800px) {
  .conteudo_infoMemories {
    padding: 64px 16px;
  }
}

@media (width < 600px) {
  .conteudo_infoMemories {
    height: 100vh;
    padding: 64px 5px;
  }
}