* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.conteudo_infoMemories {
  width: 90%;
  padding: 6.4% 6.4%;
  font-family: "Roboto", serif;
}

.descricao {
  width: 100%;
  line-height: 1.6;
  position: relative;
}

.img_rapaz_infoMemories {
  width: 100%;
  max-height: 300px;
}

.datas {
  width: 170px;
  position: relative;
  top: 6%;
  left: -227px;
  color:  #BEBEBF;
}

.datas::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #EAEAEA;
  position: absolute;
  top: 50%;
  left: 135px;
}

.descricao_infoMemories {
  width: 100%;
  color: #BEBEBF;
  font-size: 1.125rem;
}

.link_infoMemories {
  max-width: 100px;
  text-decoration: none;
}

.texto_infoMemories {
  background: #BEBEBF10;
  width: 100px;
  color: #BEBEBF;
  font-size: 1.125rem;
}

.seta_infoMemories {
  color: #BEBEBF;
  font-size: 1.4rem;
}

@media (width < 1500px) {
  .texto_infoMemories {
    margin-bottom: 16px;
  }

  .datas {
    position: relative;
    top: -5px;
    left: 40px;
  }

  .datas::before {
    position: absolute;
    top: 50%;
    left: -40px;
  }
}  