* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.conteudo_create {
  width: 90%;
  padding: 6.4%;
  justify-self: center;
  position: relative;
  font-family: "Roboto", serif;
}

.botaoVoltar_Link {
  display: flex;
  width: 150px;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
  text-decoration: none;
}

.botaoVoltar_Texto {
  width: 150px;
  font-size: 0.875rem;
  color: #9E9EA0;
}

.botao_opcoes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.adicionar_Img {
  display: flex;
  gap: 4px;
}

.imgBotao_Creat {
  min-width: 20px;
  max-height: 21px;
}

.text_opcoes_create {
  width: 100%;
  color: #9E9EA0;
}

.checkBox_create {
  opacity: 0.7;
  border-radius: 15px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.label_create {
  color: #9E9EA0;
}

.descricao_create {
  width: 100%;
  line-height: 1.6;
  position: relative;
  color: #9E9EA0;
}

.img_rapaz_create {
  width: 100%;
  max-height: 300px;
  margin-bottom: 16px;
}

.datas_create {
  position: absolute;
  font-size: 0.75rem;
  top: 10px;
  left: -230px;
  color:  #BEBEBF;
}

.datas_create::before {
  content: "";
  width: 20px;
  height: 1px;
  background: #EAEAEA;
  position: absolute;
  top: 50%;
  left: 100px;
}

.texto_create {
  width: 100%;
  color: #BEBEBF;
  font-size: 1.125rem;
}

@media (width <= 1200px) {
  .header_create {
    margin-bottom: 40px;
  }

  .datas_create {
    position: absolute;
    top: 85px;
    left: 40px;
  }

  .datas_create::before {
    position: absolute;
    top: 50%;
    left: -40px;
  }
}

@media (min-width: 645px) and (max-width: 1200px) {
  .datas_create {
    top: 115px;
  }
}

@media (min-width: 601px) and (max-width: 644px) {
  .datas_create {
    top: 150px;
  }
}

@media (width < 600px) {
  .datas_create {
    top: 125px;
  }
}
@media (width < 323px) {
  .datas_create {
    top: 135px;
  }
}

@media (width < 249px) {
  .datas_create {
    top: 170px;
  }
}
