* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.conteudo_create {
  width: 90%;
  padding: 64px;
  display: flex;
  justify-self: center;
  gap: 1000px;
  position: relative;
}

.botao_voltar {
  text-decoration: none;
}

.create {
font-size: 15px;
}

.botao_opcoes {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.checkBox_create {
  background: #1F1F23;
  border-radius: 15px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.descricao_create {
  width: 100%;
  height: auto;
  line-height: 1.6;
  position: relative;
}

.img_rapaz_create {
  width: 100%;
  max-height: 300px;
}

.datas_create {
  position: absolute;
  top: 20px;
  left: -250px;
}

.datas_create::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #EAEAEA;
  position: absolute;
  top: 13px;
  left: 150px;
}

.texto_create {
  width: 100%;
  color: #BEBEBF;
  font-size: 1.125rem;
}

@media (width < 1550px) {
  .conteudo_create {
    padding: 64px 32px;
  }

  .img_rapaz_infoMemories {
    max-height: auto;
  }
}

@media (width < 800px) {
  .conteudo_create {
    padding: 64px 16px;
  }
}

@media (width < 600px) {
  .conteudo_create {
    height: 100vh;
    padding: 64px 5px;
  }
}