* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

.conteudo_left {
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 7.5%;
  position: fixed;
  z-index: 1;
}

.header {
  display: flex;
  gap: 0.75rem;
}

.login {
  color: #BEBEBF;
}

.header p {
  width: 140px;
  font-family: "Roboto", serif;
  font-size: 0.875rem;
  align-self: center;
  color: #BEBEBF;
}

.main {
  width: 100%;
  display: grid;
  gap: 20px;
}

.logo {
  max-width: 100%;
}

.suaCapsula_Left {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #EAEAEA;
  margin-bottom: 4px;
}

.colecioneMomentos_Left {
  width: 70%;
  font-family: "Roboto", serif;
  font-size: 1.25rem;
  color: #BEBEBF;
  line-height: 1.6;
}

.link {
  width: 214px;
  background: #04D361;
  text-decoration: none;
  border-radius: 50px;
  display: block;
}

.link_P {
  width: 100%;
  color: #09090A;
  text-align: center;
  font-family: "Bai Jamjuree", serif;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 12px 20px;
}

.footer_P {
  width: 100%;
  font-family: "Roboto", serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #9E9EA0;
}

.rocktseatLink {
  color: #9E9EA0;
}

@media (width <= 1150px) {
  .conteudo_left {
    width: 100%;
    padding: 64px 7.5%;
    width: 50%;
  }

  .colecioneMomentos_Left {
    width: 100%;
  }
}

@media (width <= 600px) {
  .conteudo_left {
    width: 100%;
    height: 25%;
    position: relative;
    place-content: center;
  }

  .header {
    flex-wrap: wrap;
    margin-top: 16px;
    order: 2;
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .link {
    padding: 10px 0px;
  }

  .link_P {
    padding: 5px ;
  }

  .spaceTime_Left {
    display: none;
  }

  .footer {
    display: none;
  }
}
